
.form-block {
  min-height: 198px;
  background-color: $dark-blue;
  border-radius: 3px;
  border-top: 1px solid $light-blue;

  display: flex;
  justify-content: space-between;

  @include mq-under-1280 {
    min-height: 170px;
  }

  @include mq-under-1024 {
    padding: 30px 0;

    flex-flow: column nowrap;
    align-items: center;
  }

  @include mq-under-768 {
    padding: 20px 10px;
  }
}

.form-block__agitation {
  padding: 50px 0 0 51px;

  @include mq-under-1024 {
    text-align: center;
    padding: 0;
  }
}

.form-block__h2 {
  font-size: 34px;
  font-weight: 600;

  margin-bottom: 14px;

  @include mq-under-1024 {
    font-size: 24px;
  }
}

.form-block__text {
  font-size: 18px;

  @include mq-under-1024 {
    font-size: 16px;
  }
}

.form-block__form {
  padding: 64px 106px 0 0;

  display: flex;

  @include mq-under-1280 {
    padding: 50px 50px 0 0;
  }

  @include mq-under-1024 {
    padding: 30px 0 0;
  }

  @include mq-under-768 {
    flex-flow: column;
  }
}

.form-block__wrap {
  display: flex;
  flex-flow: column;

}

.form-block__input {
  height: 47px;
  min-width: 319px;
  border-radius: 2px;

  padding: 0 19px;
  margin-bottom: 17px;

  &::placeholder {
    color: $dark-blue;
    letter-spacing: 0.07em;
  }

  &:hover, &:focus {
    border: 1px solid $light-blue;
  }

  @include mq-under-768 {
    height: 40px;
    min-width: 300px;
  }
}

.form-block__button {
  height: 47px;
  min-width: 214px;
  background-color: $sand-yellow;
  border-radius: 2px;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $white;

  margin-left: 54px;

  &:hover {
    background-color: $red-yellow;
  }

  &:active {
    background-color: $grey;
  }

  @include mq-under-1280 {
    margin-left: 30px;
  }

  @include mq-under-768 {
    height: 40px;

    margin: 20px 0 0;
  }
}
