
.apartments {
  background-color: $white;

  text-align: center;

  padding: 29px 105px 75px;
}

.apartments__head {
  font-size: 14px;
  color: $dark-green;
  text-align: left;

  margin-bottom: 48px;
}

.apartments__sort-button {
  background-color: transparent;

  color: inherit;

  padding-left: 10px;
}

.apartments__sort-dir {
  height: 18px;
  width: 18px;
  background-color: $white-blue;
  border-radius: 50%;

  position: relative;

  &:before {
    content: '';
    height: 3px;
    width: 3px;
    border-radius: 1px;
    border: solid $light-blue;
    border-width: 0 1px 1px 0;

    position: absolute;
    top: 6.8px;
    left: 7.2px;

    transform: rotate(45deg);
  }

  &:hover {
    background-color: $red-yellow;
  }

  &:active {
    background-color: $grey;
  }
}

.apartments__sort-dir_reflected {
  transform: scaleY(-1);
}

.apartments__body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.apartments__flat {
  margin-bottom: 54px;
}

.apartments__button {
  height: 72px;
  min-width: 530px;
  background-color: $dark-blue;
  border-radius: 3px;

  font-size: 14px;
  letter-spacing: 0.10em;
  color: $white;
  text-transform: uppercase;

  //padding: 0 190px;

  display: inline-block;

  &:hover {
    background-color: $blue;
  }

  &:active {
    background-color: $light-blue;
  }
}

.apartments__button_hidden {
  display: none;
}