// colors
$white: #fff;
$black: #313639;
$grey: #a1a1a1;
$red: #ff4444;

$toxic-green: #68ae8e;
$dark-green: #002f2f;
$light-green: #48685e;

$sand-yellow: #a7a37e;
$red-yellow: #c7a37e;
$light-yellow: #faf9ef;

$dark-blue: #046380;
$blue: #24497f;
$light-blue: #87b3bb;

// color variables
$header-text-color: $white;


//$dark-blue-gradient: linear-gradient(23deg, rgba(43, 46, 70, .97) 0%, rgba(57, 63, 108, .97) 100%);
//$small-dark-blue-gradient: linear-gradient(47deg, rgba(43, 46, 70, .97) 0%, rgba(57, 63, 108, .97) 100%);
////$light-blue-gradient: linear-gradient(12deg, #219b9d 0%, #24c2d0 100%);
//$light-blue-gradient: linear-gradient(12deg, rgba(32, 150, 152, 0.93) 0%, rgba(37, 197, 213, 0.93) 100%);


$screen-small: 350px;
$screen-small-medium: 560px;
$screen-medium: 768px;
$screen-medium-large: 990px;
$screen-large: 1100px;
$screen-enormous: 1350px;