// colors
$white: #fff;
$black: #313639;
$grey: #a1a1a1;
$red: #ff4444;

$toxic-green: #68ae8e;
$dark-green: #002f2f;
$light-green: #48685e;

$sand-yellow: #a7a37e;
$red-yellow: #c7a37e;
$light-yellow: #faf9ef;

$dark-blue: #046380;
$blue: #24497f;
$light-blue: #87b3bb;
$white-blue: #f5f8f8;

// color variables
$header-text-color: $white;


$screen-small: 350px;
$screen-small-medium: 560px;
$screen-medium: 768px;
$screen-medium-large: 990px;
$screen-large: 1100px;
$screen-enormous: 1720px;