.checkbox {
  display: flex;
  align-items: center;
  user-select: none;

  &:hover > .checkbox__new-mark {
    background-color: orange;

    &:after {
      border-color: white;
    }
  }
}

.checkbox__old-mark {
  position: absolute;
  opacity: 0;

  &:checked + .checkbox__new-mark:after {
    display: block;
  }
}

.checkbox__new-mark {
  min-height: 18px;
  min-width: 18px;
  border-radius: 2px;
  background-color: $white;

  position: relative;

  &:after {
    content: '';

    height: 11px;
    width: 5px;
    border: solid $dark-blue;
    border-width: 0 2px 2px 0;
    transform: rotate(35deg) skew(0, 15deg);


    position: absolute;
    left: 6px;
    top: 1px;
    display: none;
  }
}

.checkbox__text {
  font-size: 18px;
  letter-spacing: 0.035em;

  padding-left: 10px;
}