
.header {
  height: 126px;
  background-color: #002f2f;
  border-bottom: 1px solid $light-green;

  padding: 0 160px 0 106px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mq-under-1685 {
    padding: 0 ;
  }
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__logo {
  max-height: 85px;
}

.header__list {
  display: flex;

  margin-left: 125px;
}

.header__anchor {
  font-size: 24px;
  color: $header-text-color;
  letter-spacing: 0.03em;

  margin-right: 49px;

  &:hover {
    color: $toxic-green;
  }

  &:active {
    color: $light-green;
  }
}

.header__contact {
  color: $white;
}

.header__number {
  font-size: 32px;
  line-height: 45px;
  letter-spacing: 0;
}

.header__text {
  font-size: 20px;
}