
.card {
  max-height: 522px;
  width: 320px;
  border-radius: 3px;
  border: 1px solid $dark-green;

  text-align: left;

  position: relative;

  @include mq-under-768 {
    width: 300px;
  }
}

.card_border-color_yellow {
  border-color: $sand-yellow;
}

.card_border-color_grey {
  border-color: $grey;
}

.card__wrap {
  min-height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mq-under-768 {
    min-height: 260px;
  }
}

.card__body {
  padding: 0 40px 0 52px;
  margin-bottom: 26px;

  @include mq-under-768 {
    text-align: center;

    padding: 0 10px;
    margin: 10px;
  }
}

.card__header {
  min-height: 60px;

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: $dark-green;
}

.card__info {
  color: black;

  margin: 17px 0 35px;

  display: flex;
  align-items: center;

  @include mq-under-768 {
    padding-left: 20px;
    margin: 10px 0 20px;
  }
}

.card__rectangle {
  height: 33px;
  width: 3px;
  background-color: $dark-blue;
  border-radius: 1.5px;

  margin-right: 8px;
}

.card__style {
  max-width: 80px;

  font-size: 16px;
  color: $dark-blue;
  line-height: 18px;
}

.card__square {
  max-width: 70px;

  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0;
}

.card__floor {
  max-width: 35px;

  font-size: 18px;
}

.card__price {
  font-size: 24px;
  color: $black;
  letter-spacing: 0;
}

.card__status {
  height: 36px;
  background-color: $dark-green;

  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  line-height: 36px;

}

.card__status_bg-color_yellow {
  background-color: $sand-yellow;
}

.card__status_bg-color_grey {
  background-color: $grey;
}

.card__text_font-size_13 {
  font-size: 13px;
}

.small {
  font-size: 12px;
  vertical-align: text-top;
}

.card__discount-block {
  font-size: 12px;
  font-weight: 500;

  position: absolute;
  top: 16px;
  left: 19px;

  @include mq-under-768 {
    top: 10px;
    left: 10px;
  }
}

.card__box {
  height: 18px;
  background-color: $red;
  border-radius: 3px;

  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  padding: 0 3px;

  display: inline-block;
}

.card__box_width_34 {
  width: 34px;
}

.card__box_margin-left_19 {
  margin-left: 19px;
}

.card__star {
  position: absolute;
  top: 16px;
  right: 14px;

  @include mq-under-768 {
    top: 10px;
    right: 10px;
  }
}