@import "helpers/reset";
@import "helpers/variables";
@import "helpers/mixins";

//@import "fonts/fonts";

@import "common.blocks/header/header";
@import "common.blocks/card/card";
@import "common.blocks/apartments/apartments";
@import "common.blocks/checkbox/checkbox";
@import "common.blocks/form-block/form-block";
@import "common.blocks/up-button/up-button";
@import "common.blocks/star/star";


.app {
  min-width: 320px;

  background-color: $light-yellow;

  font-family: "Open Sans", Arial, sans-serif;
  color: $white;
  letter-spacing: 0;

  padding-bottom: 100px;

  position: relative;

  @include mq-under-1024 {
    padding-bottom: 30px;
  }

  @include mq-under-768 {
    padding-bottom: 0;
  }
}

.app__h1 {
  font-size: 48px;
  font-weight: 700;
  color: $dark-green;

  margin: 65px 0 67px 106px;

  @include mq-under-1024 {
    font-size: 36px;
    letter-spacing: 0.025em;
    text-align: center;


    margin: 40px 0
  }
}

.app__content {
  max-width: 1280px;

  margin: auto;
}

.app__form {
  margin-top: 70px;

  @include mq-under-1024 {
    margin-top: 30px;
  }

  @include mq-under-768 {
    margin-top: 0;
  }
}

.app__button {
  position: absolute;
  right: 110px;

  display: none;

  @include mq-under-1720 {
    right: 70px;
  }

  @include mq-under-1440 {
    right: 20px;
  }
}

.app__button_visible {
  display: block;
}