
.up-button {
  height: 80px;
  width: 80px;
  background-color: $sand-yellow;
  border-radius: 50%;

  position: relative;

  &:before {
    content: '';
    height: 25px;
    width: 25px;
    border-radius: 5px;
    border: solid $white;
    border-width: 5px 0 0 5px;

    position: absolute;
    top: 30px;
    left: 25px;

    transform: rotate(45deg);

    @include mq-under-1280 {
      height: 20px;
      width: 20px;
      top: 22px;
      left: 18px;
    }

    @include mq-under-768 {
      height: 14px;
      width: 14px;
      top: 15px;
      left: 12px;
      border-radius: 3px;
      border-width: 3px 0 0 3px;
    }
  }

  &:hover {
    background-color: $red-yellow;
  }

  &:active {
    background-color: $grey;
  }

  @include mq-under-1280 {
    height: 60px;
    width: 60px;
  }

  @include mq-under-1024 {
    background-color: $grey;
  }

  @include mq-under-768 {
    height: 40px;
    width: 40px;
  }
}