
.star {
  user-select: none;
}

.star__checkbox {
  position: absolute;
  opacity: 0;

  &:checked + .star__icon:after {
    content: 'star';
    position: absolute;
    top: 0;
    left: 0;
  }
}

.star__icon {
  color: $sand-yellow;

  position: relative;

  &:hover {
    color: $text-hover;
  }

  &:active {
    color: $text-active;
  }
}